.pie-chart{
    height: 100vw;
    width: 100vw;
    .chart{
        width: 100vw;
    }
    .detail-item{
        color:#37B9F3;
        font-size: 5vw;
        margin-top: 2vw;
        margin-left: 3vw;
    }
}